

body {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

#mapa {
    height: 400px;
    max-width: 800px;
    margin: 0 auto 20px auto;
    border: 2px solid #000;
    border-radius: 8px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.info div {
    background-color: #eee;
    padding: 8px 16px;
    border-radius: 6px;
}

#grafico {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    display: block;
}
